
.text-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-area {
    width: 15vw;
    height: 15vh;
    opacity: .8;
    margin-top: 10vh;
    padding: .5em;
    display: block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}