
.text-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-area {
    width: 80vw;
    height: 80vh;
    opacity: .8;
    margin-top: 10vh;
    padding: none;
    display: block;
    border-radius: 15px;
}