
.tool-bar{
  width: 15vw;
  padding: .5em;
  height: 2vh;
  background-color: gray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.toolbar-option {
  background-color: gray;
  box-shadow: none;
  border: none;
  font-size: 1.5em;
  padding: none;
}
