.widget-wrap{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40vw;
    height: 4vh;
    padding: none;
    margin: 0 auto;
    margin-top: 3em;
  }
  
  ul {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 2vh;
    width: 20vw;
    margin-bottom: 1vh;
  }
  li {
    list-style: none;
    font-size: 1.5em;
  }  

.widgets {
    border: 3px solid #888;
    border-bottom: none;
    width: 10vw;
    height: 4vh;
    background-color: rgb(135, 135, 135, .5);
  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
  }
  
  .widgets:hover  {
    transition: ease .2s;
    color: white;
  }
  
  .widget-list {
    width: 30vh;
    height: 3vh;
    margin: 0;
    padding: none;
    display: flex;
    align-items: center;
  
    border: 3px solid #888;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom: none;
    background-color: rgb(135, 135, 135, .5);
  }
  
  .widget-button {
    cursor: pointer;
  }
  
  .widget-list *{
    color: #888;
    font-family: 'Righteous', cursive;
  }