#root {
  padding: 2rem;
  text-align: center;
}

.title {
  border: 5px white solid;
  border-radius: 15px;
  width: 30vw;
  padding: .1em;
  height: 12vh;
  margin: 0 auto;
  background-color: rgb(0,0,0,.8);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 5em;
  font-family: 'Righteous', cursive;
  padding: .1em;
  margin: auto;
  line-height: .2em;
  text-align: center;
}

h2 {
  font-family: 'Righteous', cursive;
  padding: .3em;
  line-height: .1em;
}

.widgets {
  border: 3px solid #888;
  border-bottom: none;
  width: 10vw;
  height: 4vh;
  background-color: rgb(135, 135, 135, .5);

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0 auto;
  margin-top: 3em;
  cursor: pointer;
}

.widgets:hover  {
  transition: ease .2s;
  color: white;
}

.widget-list {
  transition: ease 1s;
  position: relative;
  margin: auto;
  margin-top: none;
  height: 20vh;
  width: 10vw;
  border: 3px solid #888;
  border-top: none;
  background-color: rgb(135, 135, 135, .5);

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.workspace {
  height: 70vh;
  width: 90vw;
  background-color: rgb(0,0,0,.7);
  border: #888 solid 4px;
  border-radius: 30px;
  margin: 0 auto;

  overflow: hidden;
}

h3 {
  color: #888;
  font-family: 'Righteous', cursive;
}


body {
  background-image: url('./assets/regolith.png');
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.sticky-note{
  position: absolute;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

